In [25]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float, Date
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
engine = create_engine('sqlite:///../Resources/Tornados.sqlite', echo=False)
Base.metadata.create_all(engine)
conn = engine.connect()
db_file = ('../Resources/tornadodata-ks.csv')

In [26]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return conn

In [27]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [34]:
database = r"sqlite:///../Resources/Tornados.sqlite"

In [36]:
def main():

    sql_create_Tornados_table = """ CREATE TABLE IF NOT EXISTS Tornados (

 
  Index Integer not null primary key,
  Segment Varchar (100),
  Date Integer not null,
  Time Integer not null,
  TimeZone Integer not null,
  State1 Varchar (100),
  State2 Varchar (100),
  State3 Varchar (100),
  Fujita Integer not null,
  Fatalities Integer not null,
  Injuries Integer not null,
  Width Varchar (100),
  Length Varchar (100),
  County1 Varchar (100),
  County2 Varchar (100),
  County3 Varchar (100),
  County4 Varchar (100),
  County5 Varchar (100),
  County6 Varchar (100),
  County7 Varchar (100),
  County8 Varchar (100),
  County9 Varchar (100),
  County10 Varchar (100),
  County11 Varchar (100),
  County12 Varchar (100),
  Damage Varchar (100),
  CropLoss Varchar (100),
  TouchdownLat Varchar (100),
  TouchdownLon Varchar (100),
  LiftoffLat Varchar (100),
  LiftoffLon Varchar (100),
  NumberOfStates Integer not null,
  StateTor Varchar (100),
  TorNum Varchar (100),
  RecordStatus Varchar (100),
            ); """

In [43]:
   # create a database connection
conn = create_connection(database)
 
    # create tables
if conn is not None:
        # create projects table
        create_table(conn, sql_create_projects_table)
 
        # create tasks table
        create_table(conn, sql_create_tasks_table)
else:
        print("Error! cannot create the database connection.")
 
 
if __name__ == '__main__':
    main()

NameError: name 'Error' is not defined